service: fizzy
image: moreiq/fizzy

registry:
  server: ghcr.io
  username: Moreiq
  password:
    - KAMAL_REGISTRY_PASSWORD

# KEEP this - Kamal requires it for validation
# But configure it properly
builder:
  arch: amd64

servers:
  web:
    - 46.62.228.144

proxy:
  ssl: true
  host: fizzy.juradocs.com

env:
  clear:
    BASE_URL: https://fizzy.juradocs.com
    MAILER_FROM_ADDRESS: juradocs@mailo.com
    SMTP_ADDRESS: mail.mailo.com
    SMTP_PORT: "587"
    SMTP_ENABLE_STARTTLS_AUTO: "true"
    SMTP_AUTHENTICATION: "login"
    MULTI_TENANT: false
    SOLID_QUEUE_IN_PUMA: true
  secret:
    - SECRET_KEY_BASE
    - VAPID_PRIVATE_KEY
    - VAPID_PUBLIC_KEY
    - SMTP_USERNAME
    - SMTP_PASSWORD

ssh:
  user: itd

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
