service: fizzy
image: ghcr.io/moreiq/fizzy

registry:
  server: ghcr.io
  username: Moreiq

builder:
  remote: false

servers:
  web:
    - 46.62.228.144

proxy:
  ssl: true
  host: fizzy.juradocs.com

env:
  clear:
    BASE_URL: https://fizzy.juradocs.com
    MAILER_FROM_ADDRESS: fizzy@juradocs.com
  secret:
    - SECRET_KEY_BASE
    - VAPID_PRIVATE_KEY
    - VAPID_PUBLIC_KEY
    - SMTP_ADDRESS
    - SMTP_USERNAME
    - SMTP_PASSWORD

ssh:
  user: itd

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
